<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href="guestbook.css">
</head>
<body   class="container">
       
<h3 ><mark><i>
Express Guestbook</mark></h3></i></br>
<a align="right" href="/new-entry" class="btn btn-primary pull-right">
Write 
</a>
</h1>
