*{
    background:rgba(191, 224, 114, 0.568);
    color: white;
}
#border1 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 70px; 
    width: 100px;
    height: 140px; 
}
div.c {
    font-style: oblique;
}